---
- name: Set runtime facts
  import_tasks: set_facts.yml

- name: Stage 1 - OCI Inventory Collection
  import_tasks: oci-inventory-collection/main.yml

- name: Stage 2 - Load data into ADW
  import_tasks: adw-data-loader/main.yml

- name: Stage 3 - Generate Daily Report
  import_tasks: excel-report-generator/main.yml

- name: Stage 4 - Email Report
  import_tasks: email-notification/main.yml
