---
# Variables defined here for playbook run

- name: Initialize pipeline facts
  set_fact:
    pipeline_status: IN_PROGRESS
    pipeline_started_at: "{{ ansible_date_time.iso8601 }}"
    execution_timestamp: "{{ ansible_date_time.iso8601_basic }}"
    project_base_dir: "{{ project_base_dir | default(playbook_dir) }}"
    data_dir: "{{ data_dir | default(project_base_dir + '/data') }}"
    scripts_dir: "{{ scripts_dir | default(project_base_dir + '/scripts') }}"
    reports_dir: "{{ reports_dir | default(project_base_dir + '/reports') }}"
    logs_dir: "{{ logs_dir | default(project_base_dir + '/logs') }}"
  tags: [always]
