---
- name: Load ADB inventory into ADW (DAILY)
  when: collect_adb_inventory and load_to_adw
  command: >
    sqlplus -s {{ adw_user }}/{{ adw_password }}@{{ adw_connection_string }}
    @{{ role_path }}/templates/adw_load.sql.j2
    {{ adw_target_table }}
    {{ data_dir }}/adb_inventory_daily_{{ ts_file }}.csv
    INVENTORY
    ADB
  changed_when: true

- name: Load Non-ADB inventory into ADW (DAILY)
  when: collect_non_adb_inventory and load_to_adw
  command: >
    sqlplus -s {{ adw_user }}/{{ adw_password }}@{{ adw_connection_string }}
    @{{ role_path }}/templates/adw_load.sql.j2
    {{ adw_target_table }}
    {{ data_dir }}/non_adb_inventory_daily_{{ ts_file }}.csv
    INVENTORY
    NON_ADB
  changed_when: true
